<launch>
    <arg name="config" default="$(find mobile_robot_state_publisher)"/>

    <!--Publish the mobile robot pose -->
    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen">
            <rosparam command="load" file="$(arg config)/config/prius.yaml" />
    </node>

</launch>